(edif W958D8NBYA
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2022 7 4 9 24 32)
      (author "Synopsys, Inc.")
      (program "Synplify Pro" (version "J-2015.03L, mapper maplat, Build 1176R"))
     )
   )
  (library LUCENT
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell GSR (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port GSR (direction INPUT))
         )
       )
    )
    (cell VHI (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port Z (direction OUTPUT))
         )
       )
    )
    (cell VLO (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port Z (direction OUTPUT))
         )
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell W958D8NBYA (cellType GENERIC)
       (view verilog (viewType NETLIST)
         (interface
           (port (array (rename adq "adq[7:0]") 8) (direction INPUT))
           (port clk (direction INPUT))
           (port clk_n (direction INPUT))
           (port csb (direction INPUT))
           (port (array (rename rwds "rwds[0:0]") 1) (direction INPUT))
           (port VCC (direction INPUT))
           (port VSS (direction INPUT))
           (port resetb (direction INPUT))
         )
         (contents
          (instance GND_0 (viewRef PRIM (cellRef VLO (libraryRef LUCENT)))          )
          (instance VCC_0 (viewRef PRIM (cellRef VHI (libraryRef LUCENT)))          )
          (instance GSR_INST (viewRef PRIM (cellRef GSR (libraryRef LUCENT)))
          )
          (net (rename VCCZ0 "VCC") (joined
           (portRef Z (instanceRef VCC_0))
           (portRef GSR (instanceRef GSR_INST))
          ))
          (net (rename adq_0 "adq[0]") (joined
           (portRef (member adq 7))
          ))
          (net (rename adq_1 "adq[1]") (joined
           (portRef (member adq 6))
          ))
          (net (rename adq_2 "adq[2]") (joined
           (portRef (member adq 5))
          ))
          (net (rename adq_3 "adq[3]") (joined
           (portRef (member adq 4))
          ))
          (net (rename adq_4 "adq[4]") (joined
           (portRef (member adq 3))
          ))
          (net (rename adq_5 "adq[5]") (joined
           (portRef (member adq 2))
          ))
          (net (rename adq_6 "adq[6]") (joined
           (portRef (member adq 1))
          ))
          (net (rename adq_7 "adq[7]") (joined
           (portRef (member adq 0))
          ))
          (net clk (joined
           (portRef clk)
          ))
          (net clk_n (joined
           (portRef clk_n)
          ))
          (net csb (joined
           (portRef csb)
          ))
          (net (rename rwds_0 "rwds[0]") (joined
           (portRef (member rwds 0))
          ))
          (net (rename VCC "VCC_0") (joined
           (portRef VCC)
          ))
          (net VSS (joined
           (portRef VSS)
          ))
          (net resetb (joined
           (portRef resetb)
          ))
         )
        (property CR1_B1_0_4_TIMES (integer 1))
        (property CR1_B1_0_2_TIMES (integer 0))
        (property CR1_B1_0_1P5_TIMES (integer 3))
        (property CR1_B1_0_TBD_TIMES (integer 2))
        (property CR1_B4_2_TOP_OCTR (integer 7))
        (property CR1_B4_2_TOP_QRTR (integer 6))
        (property CR1_B4_2_TOP_HALF (integer 5))
        (property CR1_B4_2_NONE (integer 4))
        (property CR1_B4_2_BOT_OCTR (integer 3))
        (property CR1_B4_2_BOT_QRTR (integer 2))
        (property CR1_B4_2_BOT_HALF (integer 1))
        (property CR1_B4_2_FULL (integer 0))
        (property CR1_B5_ENTER_HALF_SLEEP (integer 1))
        (property CR1_B5_NOT_IN_HALF_SLEEP (integer 0))
        (property CR1_B6_CLOCK_SING (integer 1))
        (property CR1_B6_CLOCK_DIFF (integer 0))
        (property CR0_B1_0_BL_32 (integer 3))
        (property CR0_B1_0_BL_16 (integer 2))
        (property CR0_B1_0_BL_64 (integer 1))
        (property CR0_B1_0_BL_128 (integer 0))
        (property CR0_B2_LEGACY_WRAP_BURST (integer 1))
        (property CR0_B2_HYBRID_WRAP_BURST (integer 0))
        (property CR0_B3_FIXED_LATENCY (integer 1))
        (property CR0_B3_VARIABLE_LATENCY (integer 0))
        (property CR0_B7_4_LC4 (integer 15))
        (property CR0_B7_4_LC3 (integer 14))
        (property CR0_B7_4_LC9 (integer 4))
        (property CR0_B7_4_LC8 (integer 3))
        (property CR0_B7_4_LC7 (integer 2))
        (property CR0_B7_4_LC6 (integer 1))
        (property CR0_B7_4_LC5 (integer 0))
        (property CR0_B14_12_drive_19_ohms (integer 7))
        (property CR0_B14_12_drive_22_ohms (integer 6))
        (property CR0_B14_12_drive_27_ohms (integer 5))
        (property CR0_B14_12_drive_34_2_ohms (integer 4))
        (property CR0_B14_12_drive_46_ohms (integer 3))
        (property CR0_B14_12_drive_67_ohms (integer 2))
        (property CR0_B14_12_drive_115_ohms (integer 1))
        (property CR0_B14_12_drive_34_ohms (integer 0))
        (property CR0_B15_NORMAL (integer 1))
        (property CR0_B15_ENETR_DPD (integer 0))
        (property CR1_SOFT_RESET (integer 10))
        (property CR1_WRITE_DIE0 (string "48'b011000000000000000000001000000000000000000000001"))
        (property CR1_READ_DIE0 (string "48'b111000000000000000000001000000000000000000000001"))
        (property CR0_WRITE_DIE0 (string "48'b011000000000000000000001000000000000000000000000"))
        (property CR0_READ_DIE0 (string "48'b111000000000000000000001000000000000000000000000"))
        (property ID1_READ_DIE0 (string "48'b111000000000000000000000000000000000000000000001"))
        (property ID0_READ_DIE0 (string "48'b111000000000000000000000000000000000000000000000"))
        (property CR1_WRITE (string "48'b011000000000000000000001000000000000000000000001"))
        (property CR1_READ (string "48'b111000000000000000000001000000000000000000000001"))
        (property CR0_WRITE (string "48'b011000000000000000000001000000000000000000000000"))
        (property CR0_READ (string "48'b111000000000000000000001000000000000000000000000"))
        (property ID1_READ (string "48'b111000000000000000000000000000000000000000000001"))
        (property ID0_READ (string "48'b111000000000000000000000000000000000000000000000"))
        (property INDEX_CONFIG_REG1 (integer 3))
        (property INDEX_CONFIG_REG0 (integer 2))
        (property INDEX_ID_REG1 (integer 1))
        (property INDEX_ID_REG0 (integer 0))
        (property DEFAULT_CONFIG_REG1 (integer 65473))
        (property DEFAULT_CONFIG_REG0 (integer 36655))
        (property DEFAULT_ID_REG1 (integer 1))
        (property DEFAULT_ID_REG0 (integer 3718))
        (property register_space (integer 1))
        (property memory_space (integer 0))
        (property tEXTDPD (integer 150000))
        (property tCSDPD_max (integer 3000))
        (property tCSDPD_min (integer 200))
        (property tDPDOUT_MAX (integer 150000))
        (property tDPDCSL (integer 200))
        (property tDPDIN (integer 3000))
        (property tEXTHS_max (integer 100000))
        (property tCSHS_max (integer 3000))
        (property tCSHS_min (integer 60))
        (property tHSIN (integer 3000))
        (property tHSMX_max (integer 70000))
        (property tHSMXC_min (integer 60))
        (property tDMV (integer 0))
        (property tVCS (integer 150000))
        (property tRPH (integer 400))
        (property tRH (integer 200))
        (property tRP (integer 200))
        (property tCSM (integer 4000))
        (property tCKDSR_min (integer 1))
        (property tCKDS_min (integer 1))
        (property tCKD_min (integer 1))
        (property tOZ (integer 5))
        (property tDSZ (integer 5))
        (property tACC (integer 28))
        (property tDSV (integer 5))
        (property tCSS (integer 4))
        (property tRWR (integer 35))
        (property tCSHI (integer 6))
        (property full_mem_bits (integer 22))
        (property variable_type (integer 0))
        (property Variable (integer 0))
        (property fixed_type (integer 1))
        (property Fixed (integer 1))
        (property WORD_BITS (integer 16))
        (property ADDR_BITS (integer 24))
        (property MEM_BITS (integer 24))
        (property RWDS_BITS (integer 1))
        (property ADQ_BITS (integer 8))
        (property NOTREADY (integer 0))
        (property READY (integer 1))
        (property DISABLE (integer 0))
        (property ENABLE (integer 1))
        (property XX (string "32'bxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"))
        (property HIZ (string "32'bzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz"))
        (property HIGH (integer 1))
        (property LOW (integer 0))
        (property STOP_ON_ERROR (integer 0))
        (property orig_inst_of (string "W958D8NBYA"))
       )
    )
  )
  (design W958D8NBYA (cellRef W958D8NBYA (libraryRef work))
	(property PART (string "lfe5u_25f-6") ))
)
